<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <!-- market -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="market" />
        </intent>

        <!-- Search -->

        <!-- browser -->
        <package android:name="com.android.browser" />
        <intent>
            <action android:name="android.intent.action.WEB_SEARCH" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>

        <!-- Music -->

        <!-- netease -->
        <package android:name="com.netease.cloudmusic" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:scheme="orpheus" />
        </intent>

        <!-- qqmusic -->
        <package android:name="com.tencent.qqmusic" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:scheme="qqmusic" />
        </intent>

        <!-- Social -->

        <!-- xhs -->
        <package android:name="com.xingin.xhs" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data
                android:host="search"
                android:path="/result"
                android:scheme="xhsdiscover" />
        </intent>

        <!-- jike -->
        <package android:name="com.ruguoapp.jike" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data
                android:host="page.jk"
                android:scheme="jike" />
        </intent>

        <!-- zhihu -->
        <package android:name="com.zhihu.android" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="zhihu" />
        </intent>

        <!-- weibo -->
        <package android:name="com.sina.weibo" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:scheme="sinaweibo" />
        </intent>

        <!-- douban -->
        <package android:name="com.douban.frodo" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data
                android:host="douban.com"
                android:scheme="douban" />
        </intent>

        <!-- News -->

        <!-- toutiao -->
        <package android:name="com.ss.android.article.news" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:scheme="snssdk141" />
        </intent>

        <!-- netease news -->
        <package android:name="com.netease.newsreader.activity" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data
                android:host="nc"
                android:scheme="newsapp" />
        </intent>

        <!-- qqnews -->
        <package android:name="com.tencent.news" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data
                android:host="article_9527"
                android:scheme="qqnews" />
        </intent>

        <!-- Video -->

        <!-- bilibili -->
        <package android:name="tv.danmaku.bili" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:scheme="bilibili" />
        </intent>

        <!-- douyin -->
        <package android:name="com.ss.android.ugc.aweme" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:scheme="snssdk1128" />
        </intent>

        <!-- ks -->
        <package android:name="com.smile.gifmaker" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:scheme="kwai" />
        </intent>

        <!-- youku -->
        <package android:name="com.youku.phone" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data
                android:host="soku"
                android:path="/searchresult"
                android:scheme="youku" />
        </intent>

        <!-- iqiyi -->
        <package android:name="com.qiyi.video" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data
                android:host="mobile"
                android:path="/search"
                android:scheme="iqiyi" />
        </intent>

        <!-- qqlive -->
        <package android:name="com.tencent.qqlive" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data
                android:host="v.qq.com"
                android:pathPrefix="/SearchPagerActivity"
                android:scheme="txvideo" />
        </intent>

        <!-- Life services -->

        <!-- imeituan -->
        <package android:name="com.sankuai.meituan" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:scheme="imeituan" />
        </intent>

        <!-- meituanwaimai -->
        <package android:name="com.sankuai.meituan.takeoutnew" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:scheme="meituanwaimai" />
        </intent>

        <!-- eleme -->
        <package android:name="me.ele" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:scheme="eleme" />
        </intent>

        <!-- alipay -->
        <package android:name="com.eg.android.AlipayGphone" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:scheme="alipays" />
        </intent>

        <!-- dianping -->
        <package android:name="com.dianping.v1" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:scheme="dianping" />
        </intent>

        <!-- Shopping -->

        <!-- taobao -->
        <package android:name="com.taobao.taobao" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data
                android:host="m.taobao.com"
                android:pathPrefix="/tbopen/index.htm"
                android:scheme="tbopen" />
        </intent>

        <!-- tmall -->
        <package android:name="com.tmall.wireless" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data
                android:host="page.tm"
                android:scheme="tmall" />
        </intent>

        <!-- vipshop -->
        <package android:name="com.achievo.vipshop" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:scheme="vipshop" />
        </intent>

        <!-- pdd -->
        <package android:name="com.xunmeng.pinduoduo" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data
                android:host="com.xunmeng.pinduoduo"
                android:scheme="pinduoduo" />
        </intent>

        <!-- jd -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:scheme="openjd" />
        </intent>

        <!-- idlefish -->
        <package android:name="com.taobao.idlefish" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:scheme="fleamarket" />
        </intent>

        <!-- Map -->

        <!-- baidumap -->
        <package android:name="com.baidu.BaiduMap" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:scheme="baidumap" />
        </intent>

        <!-- amap -->
        <package android:name="com.autonavi.minimap" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:scheme="amapuri" />
        </intent>

        <!-- qqmap -->
        <package android:name="com.tencent.map" />
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data
                android:scheme="qqmap"
                android:host="map"
                android:pathPrefix="/search"/>
        </intent>

        <!-- Tools -->

    </queries>

    <application
        android:name=".app.OneShotApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OneShot">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.dede.oneshot.app.OneShotInitializer"
                android:value="@string/androidx_startup" />
        </provider>
    </application>

</manifest>